# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='|')

     order_id\tquantity\titem_name\tchoice_description\titem_price
0      1\t1\tChips and Fresh Tomato Salsa\tNULL\t$2.39
1                      1\t1\tIzze\t[Clementine]\t$3.39
2               1\t1\tNantucket Nectar\t[Apple]\t$3.39
3     1\t1\tChips and Tomatillo-Green Chili Salsa\tN...
4     2\t2\tChicken Bowl\t[Tomatillo-Red Chili Salsa...
...                                                 ...
4617  1833\t1\tSteak Burrito\t[Fresh Tomato Salsa, [...
4618  1833\t1\tSteak Burrito\t[Fresh Tomato Salsa, [...
4619  1834\t1\tChicken Salad Bowl\t[Fresh Tomato Sal...
4620  1834\t1\tChicken Salad Bowl\t[Fresh Tomato Sal...
4621  1834\t1\tChicken Salad Bowl\t[Fresh Tomato Sal...

[4622 rows x 1 columns]

### Step 3. Assign it to a variable called chipo.

In [126]:

chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

# Name of the max valued product

In [127]:
chipo['item_price']=chipo['item_price'].str.replace('$', '', regex=False)
chipo['item_price'] = chipo['item_price'].astype(float)

producto_mas_costoso=chipo.sort_values('item_price', ascending=False)
producto_mas_costoso

#precios=np.array(chipo['item_price'])
#print(precios.max())

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
...,...,...,...,...,...
1057,435,1,Canned Soda,[Mountain Dew],1.09
117,51,1,Canned Soda,[Diet Dr. Pepper],1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09
2544,1009,1,Canned Soda,[Diet Coke],1.09
2545,1009,1,Bottled Water,NaN,1.09

### Step 4. How many products cost more than $10.00?

In [ ]:
#porductos_mayores_diez= chipo['item_price'].value_counts()
productos_mayores= chipo.loc[chipo['item_price'] > 10, 'item_name'].nunique()
productos_mayores

31

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$?

In [139]:
pedido_mayores=(chipo['item_price'] > 10).sum()
pedido_mayores

np.int64(1130)

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$?

In [155]:
ordenes = chipo.groupby("order_id", as_index=False)["item_price"].sum()

mayores_diez = (ordenes["item_price"] > 10).sum()


print("Pedidos > $10:", mayores_diez)

Pedidos > $10: 1834

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto?

In [156]:
pedido_4_3 = chipo.loc[chipo['item_price'] > 10, 'order_id'].nunique()
pedido_4_3

863

### Step 5. What is the price of each item?

In [165]:
producto_precios=chipo[["item_name", "item_price"]].drop_duplicates().sort_values("item_price", ascending=False)

producto_precios

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
409                   Chicken Bowl       32.94
...                            ...         ...
6                    Side of Chips        1.69
329                  Bottled Water        1.50
263              Canned Soft Drink        1.25
28                     Canned Soda        1.09
34                   Bottled Water        1.09

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [164]:
producto_precios=chipo[["item_name", "item_price"]].drop_duplicates().sort_values("item_name", ascending=True)

producto_precios

              item_name  item_price
3389  6 Pack Soft Drink       12.98
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
3195      Barbacoa Bowl        8.69
95        Barbacoa Bowl        9.25
...                 ...         ...
186   Veggie Salad Bowl       11.25
3889  Veggie Soft Tacos       16.98
738   Veggie Soft Tacos       11.25
781   Veggie Soft Tacos        8.75
1395  Veggie Soft Tacos        8.49

[209 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [167]:
cantidad_mas_caro=chipo.loc[chipo["item_price"].idxmax(), ["item_name","quantity","item_price"]]
cantidad_mas_caro

item_name     Chips and Fresh Tomato Salsa
quantity                                15
item_price                           44.25
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [168]:
cantidad_veggie_salad=(chipo.loc[chipo['item_name'] == 'Veggie Salad Bowl', 'quantity']).sum()
cantidad_veggie_salad

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [170]:
cantidad_canned=(chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]).shape[0]
cantidad_canned

20